env
data/frames
__pycache__
video.mp4
del_video_audio.mp4
del_video.mp4
result.mp4
data/temp_audio.wav
data/current.pgn
youtube
data/thumbnails/thumbnail.jpg
token_youtube_v3.pickle
data/current.pgn
data/.DS_Store
.DS_Store
audio.mp3
uploaded.txt
data/games.pgn
